/*
** CSS Document *
** @name 合一大学（oneness） 公共组件样式css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-01-23
------------------------------------------------------
*/

/* header css start
---------------------------*/
img{width:100%}
.header{width:100%;position:fixed;top:0;left:0;z-index:6999}

.header_bg{width: 100%;background-color:#FFF;opacity:0.8;top:-120px;height:62px;position: absolute}

.header .top_box{
	max-width:1140px;margin-top:30px;margin-bottom:30px;margin-right:auto; margin-left:auto;padding:0 10px;position:relative;z-index:10
}

.logo_box{}
.logo_box img{height:66px;width:auto}

.nav{float:right;line-height:66px}

.nav li{ display: inline;padding-right:10px;padding-left:10px}
.nav li:last-child{padding-right:0}


.nav li a{color:#333;font-size:1em;text-transform:uppercase}

.nav li a:hover,
.nav li a.cur{color:#d5b10d}

/*.nav-cn a{ font-family:"Microsoft YaHei",SimHei;}*/

.nav li a.lang_switch span{padding-right:14px;color:#333}
a.mobile-nav-list{ display:none}


/* header css start
---------------------------*/

.main_box{max-width:1140px;margin:0 auto;padding:90px 10px; overflow:hidden}

.main_box2{max-width:1140px;margin:0 auto;padding:90px 10px 0 10px; overflow:hidden}


.title-font{ font-family:"open Sans",'Microsoft YaHei'}
.title-h3,
.title-h2{font-size:2.5em;padding-bottom:50px;color:#333;  text-align:center; text-transform:uppercase}

.title-h2{font-size:3.85em;padding-bottom:30px;}
.title_line{width:98px;height:16px;border-bottom:2px #333 solid; display:block; margin:0 auto}
.title-white{color:#fff}
.title-white .title_line{ border-color:#fff}

a.more_btn{
	width:230px;padding:14px 0;border:1px #333 solid;color:#333; text-align:center; border-radius:6px; background:none; display:inline-block;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
a.more_btn:hover{ background:#d5b10d; border:1px #d5b10d solid;color:#fff}

/* 底部 bottom框架 start
------------------------------------------------------------------*/
.footer{}

.return_top{width:272px;margin-bottom:40px; margin-left:auto; margin-right:auto}
.return_top img{width:100%}

.footer_con{padding-bottom:30px; overflow:hidden}
.bot_nav{overflow:hidden;float:left}
.bot_nav dl{min-height:12.5em;border-right:1px #ccc solid;padding-right:40px; margin-right:40px;float:left}
.bot_nav dl:last-child{border-right:none}
.bot_nav dl dt{color:#333;font-size:1.5em;padding-bottom:.5em}
.bot_nav dl dd li{line-height:2;font-size:.875em}
.bot_nav dl dd li a{color:#999}
.bot_nav dl dd li a:hover{color:#d5b10d}

.sns_box{width:270px;text-align:right;float:right}

.sns_list{border-top:1px #ccc solid;border-bottom:1px #ccc solid;padding:12px 0 8px 0;margin-top:20px; text-align:center}
.sns_list li{width:22pxpx;height:22px;display:inline-block;margin:0 10px;}
.sns_list li a{
	width:22px;height:22px; display:block; background:url(../images/sns_icon.png) no-repeat;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
.sns_list li.sns_icon01 a{ background-position:0 0}

.sns_list li.sns_icon01 a:hover{background-position:0 -24px}

.sns_list li.sns_icon02 a{ background-position:-22px 0}
.sns_list li.sns_icon02 a:hover{background-position:-22px -24px}

.sns_list li.sns_icon03 a{ background-position:-44px 0}
.sns_list li.sns_icon03 a:hover{background-position:-44px -24px}

.sns_list li.sns_icon04 a{ background-position:-66px 0}
.sns_list li.sns_icon04 a:hover{background-position:-66px -24px}

.sns_list li.sns_icon05 a{ background-position:-88px 0}
.sns_list li.sns_icon05 a:hover{background-position:-88px -24px}


.copyright{ text-align:center;font-size:.875em;color:#999}

/*栏目页banner*/
.banner_about{background:url(../images/banner_about.jpg)}
.banner_wisdom{background:url(../images/banner_wisdom.jpg)}
.banner_contact{background:url(../images/banner_contact.jpg)}
.banner_curriculum{background:url(../images/banner_course.jpg)}
.banner_news{background:url(../images/banner_news.jpg)}
.banner_inter{background:url(../images/banner_inter.jpg)}

.page_banner{width:100%;height:570px; background-repeat:no-repeat; background-position:50% 120px}

.banner_text{max-width:1140px;height:450px; margin:0 auto;padding-left:15px;padding-right:15px;padding-top:120px}

.banner_text img{width:auto;height:100%;float:right}

/*tab navigation*/
.tab_nav{ text-align:center}
.tab_nav a{padding:10px 20px;margin:0 5px; background:#eaeaea;color:#333; display:inline-block; -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;transition:all .2s ease-in;}
.tab_nav a:hover,
.tab_nav a.active{background:#d5b10d;color:#fff}

/* 分页 page
-------------------------*/
.page{width:100%;padding-top:20px}
.page a{
	width:48px;padding:12px 0;text-align:center;margin-right:4px;display:inline-block; background-color:#eaeaea;color:#333;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
.page a:hover,
.page a.cur{ background-color:#d5b10d;color:#fff}

.page_con{padding:0 10px; position:relative}

.page a.page_btn{width:140px;position:absolute;top:0}
.page a.prev{right:160px;}
.page a.next{right:10px}

/*联络中心 start*/

.contact_center{padding-top:30px;overflow:hidden}
.contact_center dl{
	width:33.333%;height:308px;padding-top:30px;margin-bottom:30px;
	border-bottom:1px #ccc dashed; background:url(../images/contact_line.jpg) no-repeat left top; float:left
}
.contact_center dl.noline{margin-bottom:0;border-bottom:none}

.contact_center dl dt{padding-bottom:1.5em;padding-left:30px}
.contact_center dl dd{padding-left:30px}

.contact_center dl dt h4{font-size:1.875em;color:#333}

.contact_center dl dt h4 .groups_pic{width:100px; display:block}
.contact_center dl dt h4 .groups_pic img{width:100%}

.contact_center dl dt p{color:#999}
.contact_center dl dt p .line{width:30px;height:10px;border-bottom:1px #999 solid; display:block}
.contact_center dl dd p{ background: url(../images/sprit_icon.png) no-repeat;padding-left:34px;line-height:1.4;padding-bottom:14px;padding-right:40px;}
.contact_center dl dd p.phone{ background-position:0 -202px}
.contact_center dl dd p.phone span{ display:block}

.contact_center dl dd p.wechat{ background-position:0 -256px}

.contact_center dl dd p.address{ background-position:0 -308px}

/*联络中心 end*/

@media screen and (max-width:1024px){
	
	
}


@media screen and (max-width:768px){
	.header .top_box{margin-top:0;margin-bottom:0; background:#fff; background:rgba(255,255,255,.8);padding-top:8px;padding-bottom:8px}
	.header_bg{height:66px;}
	.logo_box img{height:50px;width:auto}
	
	a.mobile-nav-list{width:60px;padding-top:14px;display:block;color:#e60033;position:absolute;right:0;top:0; bottom:0;text-align:center;z-index:9990}
	/*  2015-颜色修改 -ad  */
	a.mobile-nav-list:before{
		content:"";
		width:30px;height:2px;
		background-color:#2d80d0;
		display:inline-block;
		box-shadow: 0 7px 0 #2d80d0, 0 -7px 0 #2d80d0;
	}
	
	.nav li a.lang_switch span{ display:none}
	
	.nav{position:absolute;left:0;right:0;top:66px; z-index:9997;height:0; overflow:hidden}
	
	.nav li{width:100%;display:block;line-height:44px;padding:0;border-bottom:1px #dadada solid;background:rgba(255,255,255,.8);float:left}
	.nav li:first-child{border-top:1px #dadada solid;}
	.nav li a{padding-right:14px;padding-left:14px; display:block}
	.nav li a:hover{ background:#e60033; background:rgba(230,0,51,.7);color:#fff}
	
	.main_box{padding:40px 10px}
	
	.title-h3{font-size:2em;padding-bottom:10px; }
	.title-h2{font-size:3em;padding-bottom:0}
	.title_line{width:80px;height:8px;border-bottom:2px #333 solid}
	
	.return_top{width:135px;margin-bottom:30px}
	
	.bot_nav{width:100%}
	.bot_nav dl{width:33.3333%;border-right:none;padding-right:0;margin-right:0}
	
	.sns_box{text-align:center;float:none; margin:0 auto}
	.sns_list{margin-top:16px}
	.sns_box img{width:135px; margin:0 auto}
	.sns_list li a{display:block; background:url(../images/sns_icon@2x.png) no-repeat; background-size:120px 48px}
	
	.page_banner{height:403px; background-position:50% 66px; background-size:1440px 337px}
	.banner_text{height:337px; padding-top:66px}

	
	.page a{width:44px;padding:10px 0;margin-right:2px}
	.page_con{padding:0 4px}
	.page a.prev{right:150px;}
	.page a.next{right:0}
	
	.tab_nav{padding-top:20px}
	.tab_nav a{margin:10px 0 0 0}
	
	.main_box{padding:40px 10px}
	.main_box2{padding:40px 10px 0 10px}
	
	.contact_center dl{width:50%}
	.contact_center dl.noline{margin-bottom:30px;border-bottom:1px #ccc dashed}
	.contact_center dl dt h4 .groups_pic img{width:50%}
	
	/*@2x icon*/
	.contact_center dl dd p{background:url(../images/sprit_icon@2x.png) no-repeat; background-size:44px 400px}
}


@media screen and (max-width:414px){
	.nav{top:52px}
	a.mobile-nav-list:before{
		width:22px
	}
	.logo_box img{height:36px;width:auto}
	
	.main_box{padding:20px 10px}
	.main_box2{padding:20px 10px 0 10px}
	
	.title-h3{font-size:1.5em}
	.title-h2{font-size:2.25em}
	.title_line{width:50px;border-bottom:1px #333 solid}
	a.more_btn{width:180px;padding:12px 0;font-size:1.25em}
	
	.nav li a{font-size:1.25em}
	
	.sns_box{width:100%; padding-top:10px; overflow:hidden}
	.footer_con{padding-bottom:20px}
	.return_top{margin-bottom:20px}
	
	.page_banner{height:277px; background-position:50% 52px; background-size:960px 225px}
	.banner_text{height:225px; padding-top:52px}
	
	.tab_nav{padding:10px 5px 0 5px}
	.tab_nav a{padding:8px 0;margin:2px 0;font-size:1.25em; width:100%; display:block}
	
	.page{padding-top:10px; text-align:center}
	.page a{font-size:1.25em}
	.page a.page_btn{ display:none}
	
	.contact_center dl{width:100%;height:auto;padding-bottom:20px;margin-bottom:20px;padding-top:0;background:none}
	.contact_center dl:first-child{border-top:1px #ccc dashed;padding-top:20px}
	.contact_center dl dd p.wechat,
	.contact_center dl dd p.address,
	.contact_center dl dd p.pt4{padding-top:4px}
	

}