/*
** CSS Document *
** @name 合一大学（oneness） contact center css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-02-04
------------------------------------------------------
*/
.recruitmen_form,
.btn_box{margin:0 auto;max-width:800px}
.recruitmen_form p{margin-top:20px; position:relative}
.recruitmen_form p input,
.recruitmen_form p textarea{width:100%;border:none; border-radius:0;border-bottom:1px #999 solid; background:none;padding:15px 0 10px 0;font-size:1em;color:#999; font-family:"open Sans","微软雅黑"}
.recruitmen_form p textarea{height:160px}

.btn_box{width:100%;padding-top:30px}
.btn_box p{ display: inline;font-size:.875em;color:#999;padding-top:15px;float:left}
.btn_box p span{color:#e60033;padding-right:4px}
.btn_box input{float:right}

.submit_btn{border:none; text-align: center; background:#d5b10d;font-family:"open Sans","微软雅黑";padding:15px 50px;color:#fff;font-size:1.25em;border-radius:6px; cursor:pointer}

.contact_map{margin-top:20px;margin-bottom:50px; overflow:hidden}
.contact_map p{width:48.5%;float:left}
.contact_map p.fr{float:right}

.contact_con{ position:relative}
.contact_text{ position:absolute;left:51.5%}
.contact_text p{line-height:1.4;padding-bottom:10px}
.contact_text p span{ display:block}
.contact_text p a{ text-decoration:underline;color:#d5b10d}

.contact_form{}
.contact_form p{margin-bottom:15px}
.contact_form p input,
.contact_form p textarea{
	border:1px #ccc solid;padding-top:16px;padding-bottom:16px; background:#fff; font-size:1em;color:#999; font-family:"open Sans","微软雅黑";
	width:46.5%;padding-left:2%;border-radius:0;
}
.contact_form p.message{border:1px #ccc solid;}
.contact_form p textarea{border:none;height:260px;padding-left:2%;width:98%}

.recruitmen_form p .error,
.contact_form p .error{border-color:#e60033}


@media screen and (max-width:1024px){
	
}


@media screen and (max-width:768px){
	.contact_map{margin-bottom:20px}
	.contact_form p{margin-bottom:10px}

}


@media screen and (max-width:414px){
	.recruitmen_form p{margin-top:10px}
	.recruitmen_form p input,
	.recruitmen_form p textarea{font-size:1.25em}
	.recruitmen_form p textarea{height:120px}
	
	.btn_box{padding-top:0}
	.submit_btn{width:100%;padding:15px 0;margin-top:8px}
	
	.contact_text{ position: static;left:0}
	
	.contact_form p input{width:100%}
	.contact_form p input,
	.contact_form p textarea{
		-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
	}
	
	


}