/*
** CSS Document *
** @name 合一大学（oneness） contact center css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-02-04
------------------------------------------------------
*/

.introduction_box{position:relative;padding-top:50px}
.curriculum_pic{padding:0 54px 0 54px;margin-bottom:-260px}
.introduction_con{padding:300px 54px 54px 54px;background:#f8f8f8}
.introduction_con .text p{font-size:.875em;color:#333}
.introduction_con .text p.gray{color:#999;padding-top:20px;padding-bottom:40px}
.introduction_con .text p.orange{color:#d5b10d}

.introduction_con .title{padding-bottom:20px; overflow:hidden}
.introduction_con .title .time_box{width:82px;border:4px #333 solid;line-height:1;text-align:center;padding:4px 0 12px 0;float:left}
.introduction_con .title .time_box .time{font-size:4em;color:#333;font-weight:800}
.introduction_con .title .time_box .name{color:#d5b10d}

.introduction_con .title .title_text{padding-left:20px; display:table-cell;line-height:1.2}
.introduction_con .title .title_text p{color:#d5b10d;font-size:1.125em}
.introduction_con .title .title_text h4{font-size:2.5em;color:#333;font-weight:800;padding:8px 0}
.introduction_con .title .title_text p.gray{color:#999}

a.contact_btn{
	text-align: center; background:#d5b10d;font-family:"open Sans","微软雅黑";padding:15px 50px;color:#fff;
	font-size:1.25em;border-radius:6px; cursor:pointer;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
a.contact_btn:hover{ background:#e60033}

/* Curriculum css
-------------------------------------*/
.main_box3{max-width:1150px;margin:0 auto;padding:90px 10px 0 10px; overflow:hidden}

.year_switch{border-top:1px #ccc solid;border-bottom:1px #ccc solid;margin-top:20px;margin-left:5px;margin-right:5px; position:relative}
.year_switch h4{ text-align:center;color:#d5b10d;font-size:3em;font-weight:800}
.year_switch a{height:44px;position:absolute;top:50%;margin-top:-22px;line-height:44px;font-size:1.25em;}

.year_switch a.year_prev{left:0;background:url(../images/year_prev.png) no-repeat left center;padding-left:40px}
.year_switch a.year_prev:hover{background:url(../images/year_prev_hover.png) no-repeat left center;}

.year_switch a.year_next{right:0;background:url(../images/year_next.png) no-repeat right center;padding-right:40px}
.year_switch a.year_next:hover{background:url(../images/year_next_hover.png) no-repeat right center;}

.curriculum{padding-top:20px}
.curriculum ul{}
.curriculum ul li{width:33.333%;margin:5px 0;float:left}
.curriculum ul li dl{padding:0 5px}
.curriculum ul li dl dt{ background:#eaeaea; text-align:center;color:#333;font-size:1.25em;padding:14px 0;}
.curriculum ul li.cur dl dt{ background:#d5b10d;color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,.1);}

.curriculum ul li dl dd{ border:1px #eaeaea solid}
.curriculum ul li dl dd p{height:66px;padding-left:10px;padding-right:10px;line-height:1.2;overflow:hidden}
.curriculum ul li dl dd p .title{float:left;font-size:1.125em;}
.curriculum ul li dl dd p .title i{color:#999;font-size:.75em; display:block}
.curriculum ul li dl dd p .time{float:right;font-size:.875em;color:#999}

.pt_title{padding-top:23px}
.pt_title2{padding-top:17px}
.pt_time{padding-top:27px}

/*待定区块布局*/
.pending{ text-align:center; background:#f8f8f8;color:#ccc;font-size:1.25em}
.curriculum ul li dl dd p.pending_h1{height:66px;line-height:66px}
.curriculum ul li dl dd p.pending_h2{height:132px;line-height:132px}
.curriculum ul li dl dd p.pending_h3{height:198px;line-height:198px}
.curriculum ul li dl dd p.pending_h4{height:264px;line-height:264px}



/*颜色*/
.color_bg1{ background:#f4faee}
.color_bg2{ background:#fcecec}
.color_bg3{ background:#faeefb}
.color_bg4{ background:#f9f7ea}
.color_bg5{ background:#f4faee}
.color_bg6{ background:#fcecec}
.color_bg7{ background:#faeefb}
.color_bg8{ background:#f9f7ea}



@media screen and (max-width:1024px){
	.curriculum_pic{padding:0 40px 0 40px;margin-bottom:-200px}
	.introduction_con{padding:260px 40px 50px 40px}
	.year_switch{margin-left:0px;margin-right:0px}
}


@media screen and (max-width:768px){
	.introduction_box{padding-top:30px}
	.curriculum_pic{padding:0 30px 0 30px;margin-bottom:-160px}
	.introduction_con{padding:200px 30px 40px 30px}
	
	.main_box2{padding:40px 10px 0 10px}
	
	.curriculum{padding-top:10px}
	.curriculum ul li{width:100%;float:left}
	.curriculum ul li dl{padding:0}
	.mobile-p{ display:none}


}


@media screen and (max-width:414px){
	.main_box2{padding:20px 10px 0 10px}
	
	.introduction_box{padding-top:20px}
	.curriculum_pic{padding:0 15px 0 15px;margin-bottom:-70px}
	.introduction_con{padding:90px 15px 30px 15px}
	
	.introduction_con .title .time_box{width:66px;border:3px #333 solid}
	.introduction_con .title .title_text{padding-left:10px}
	.introduction_con .title .title_text h4{padding:4px 0}


	.introduction_con .text p{font-size:1.125em}
	.introduction_con .text p.gray{color:#999;padding-top:10px;padding-bottom:20px}
	
	.year_switch h4{font-size:2.5em}
	.year_switch a{font-size:1em}
	
	.year_switch a.year_prev{background-size:16px 22px;padding-left:20px;}
	.year_switch a.year_prev:hover{background-size:16px 22px}
	
	.year_switch a.year_next{background-size:16px 22px;padding-right:20px}
	.year_switch a.year_next:hover{background-size:16px 22px}
	
	.curriculum ul li dl dd p{height:52px}
	.pt_title{padding-top:18px}
	.pt_title2{padding-top:11px}
	.pt_time{padding-top:19px}
	
	.curriculum ul li dl dd p.pending_h1{height:52px;line-height:52px}
	.curriculum ul li dl dd p.pending_h2{height:104px;line-height:104px}
	.curriculum ul li dl dd p.pending_h3{height:156px;line-height:156px}
	.curriculum ul li dl dd p.pending_h4{height:308px;line-height:308px}

}