/*
** CSS Document *
** @name 合一大学（oneness） contact center css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-02-04
------------------------------------------------------
*/

.introduction_box{position:relative;padding-top:50px}
.curriculum_pic{padding:0 54px 0 54px;margin-bottom:-260px}
.introduction_con{padding:300px 54px 54px 54px;background:#f8f8f8}
.introduction_con .text p{font-size:.875em;color:#333}
.introduction_con .text p.gray{color:#999;padding-top:20px;padding-bottom:40px}
.introduction_con .text p.orange{color:#d5b10d}

.introduction_con .title{padding-bottom:20px; overflow:hidden}
.introduction_con .title .time_box{width:82px;border:4px #333 solid;line-height:1;text-align:center;padding:4px 0 12px 0;float:left}
.introduction_con .title .time_box .time{font-size:4em;color:#333;font-weight:800}
.introduction_con .title .time_box .name{color:#d5b10d}

.introduction_con .title .title_text{padding-left:20px; display:table-cell;line-height:1.2}
.introduction_con .title .title_text p{color:#d5b10d;font-size:1.125em}
.introduction_con .title .title_text h4{font-size:2.5em;color:#333;font-weight:800;padding:8px 0}
.introduction_con .title .title_text p.gray{color:#999}

a.contact_btn{
	text-align: center; background:#d5b10d;font-family:"open Sans","微软雅黑";padding:15px 50px;color:#fff;
	font-size:1.25em;border-radius:6px; cursor:pointer;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
a.contact_btn:hover{ background:#e60033}


@media screen and (max-width:1024px){
	.curriculum_pic{padding:0 40px 0 40px;margin-bottom:-200px}
	.introduction_con{padding:260px 40px 50px 40px}
}


@media screen and (max-width:768px){
	.introduction_box{padding-top:30px}
	.curriculum_pic{padding:0 30px 0 30px;margin-bottom:-160px}
	.introduction_con{padding:200px 30px 40px 30px}
}


@media screen and (max-width:414px){
	.introduction_box{padding-top:20px}
	.curriculum_pic{padding:0 15px 0 15px;margin-bottom:-70px}
	.introduction_con{padding:90px 15px 30px 15px}
	
	.introduction_con .title .time_box{width:66px;border:3px #333 solid}
	.introduction_con .title .title_text{padding-left:10px}
	.introduction_con .title .title_text h4{padding:4px 0}


	.introduction_con .text p{font-size:1.125em}
	.introduction_con .text p.gray{color:#999;padding-top:10px;padding-bottom:20px}

}