/*
** CSS Document *
** @name 合一大学（oneness） index css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-01-23
------------------------------------------------------
*/

/*背景样式 start*/
.section_bg{background:url(../images/campus_bg.jpg) center repeat-x fixed; overflow:hidden; background-size:cover}
.section_bg2,.section_bg3{overflow:hidden;background:#f8f8f8}
.section_bg2{border-top:1px #999 solid; box-shadow: inset 0 1px 0 rgba(255,255,255,.8); }
.section_bg3{background:#d5b10d}
.section_bg4{ background:url(../images/section_bg4.jpg) no-repeat center top}
.section_bg5{ background:url(../images/section_bg5.jpg) no-repeat center top}

.section_bg6{ background:#faf6e4}


.contact_bg{padding-top:0;padding-bottom:0;background:url(../images/map_bg.jpg) no-repeat top center}

/*背景样式 end*/


.hidden{display:none}

.kv_box{width:100%;height:600px;overflow:hidden;position:relative}

.kv_box .kv-img{width:100%;position:absolute;top:0;left:0;bottom:0}

.kv_box .kv1{background:url(../images/kv01.jpg) center top no-repeat}
.kv_box .kv2{background:url(../images/kv02.jpg) center top no-repeat}
.kv_box .kv3{background:url(../images/kv03.jpg) center top no-repeat}
.kv_box .kv4{background:url(../images/kv04.jpg) center top no-repeat}


.kv_box .overlay{position: absolute; width: 100%; height: 65%; top: 18%; text-align:center}
.kv_box .overlay img{width:auto;height:100%}

.cont {
	width:1140px;
	height:100%;
	color:#fff;
	margin: 0 auto;
	text-align:center;
	position: relative
}

.kv_con-1 {
	background-image: url(../images/kv_bg01.jpg);
	
}
.kv_con-2 {
	background-image: url(../images/kv_bg05.jpg);
}
.kv_con-3 {
	background-image: url(../images/kv_bg03.jpg);
}

.kv_con-4 {
	background-image: url(../images/kv_bg04.jpg);
}

.animg_box{width:788px;height:650px;position:fixed;top:50%;left:50%;margin-left:-394px;margin-top:-325px}
.animg_box_01{ z-index:80}
.animg_box_02{ z-index:88; opacity:0}
.animg_box_03{ z-index:92; opacity:0}
.animg_box_04{ z-index:98; opacity:0}

.triangle_logo{width:788px;height:650px;position:absolute;left:50%;top:50%;margin-left:-394px;margin-top:-325px}

.logo02{width:100px; position: absolute;left:50%;top:50%;margin-left:-50px;z-index:99}


/* 学校简介 start
--------------------------------------------------------------*/
.about_box{ background:#fcfbf5; overflow:hidden}

.about_text{width:46%;text-align:center;float:left}
.about_text p{padding:5px 0;color:#b3b3b3}

.black{color:#333;border-bottom:1px #000 solid;padding:0 5px;}

.about_text .content{height:160px;overflow: auto;text-transform:none;}
.about_text .content p{width:100%;margin:1em 0; text-indent:28px; text-align: justify; text-justify:distribute-all-lines}

.about_text .content p:first-child{margin-top:0}
.about_text .content p:last-child{margin-bottom:0}

a.mobile-more{width:100%; display:block;font-size:1.25em;text-align: center;padding-top:10px;margin-top:4px;padding-bottom:10px; display:none}

.about_logo{
	border-top:1px #ccc solid;height:44px;line-height:44px;border-bottom:1px #ccc solid;
	margin-top:60px;margin-bottom:40px;position:relative
}
.about_logo span{width:50%;font-size:1.25em;text-transform: capitalize;color:#333;float:left}
.about_logo span.l{text-align:left}
.about_logo span.l i{padding-left:40px}
.about_logo span.r{text-align:right}
.about_logo span.r i{padding-right:40px}



.about_text p.em{color:#2d80d0;font-size:1.125em}

.about_logo_pic{
	width:156px;height:100px;padding:10px; background:#fcfbf5;
	position:absolute;left:50%;top:50%;margin-left:-88px;margin-top:-60px;
}

/*走进校园图片切换 start*/
.about_pic{width:50%;float:right}
.swiper-container {width:100%}

.about_list{width:100%; overflow:hidden}
.about_list li{width:50%;float:left}
.about_list li a{padding:3px; display:block}
.about_list li img{width:100%}

.img_switch{width:100%;margin-top:5px;height:44px;border-top:1px #ccc solid;border-bottom:1px #ccc solid;}
.img_switch a{width:50%; display:inline-block;line-height:44px; text-transform:uppercase;font-size:1.25em}
.img_switch a.next{ text-align:right}
.img_switch a.next span{height:44px;border-left:1px #ccc solid; display:block}

/*走进校园图片切换 end*/

/*合一智慧 start*/
.wisdom_box{width:100%}

.wisdom_list{margin-top:50px;margin-bottom:40px;overflow:hidden;position:relative;/*必要元素*/}

.wisdom_list li{color:#333;float:left}
.wisdom_list li a{ display:block}

.wisdom_list li p{padding-left:15px;padding-right:15px;}

.wisdom_list li a .event_pic { display:block; position:relative}
.wisdom_list li a .active_bg {
	position: absolute;left:15px;right:15px;top:0;bottom:0; background:#fff; opacity:0; filter:alpha(opacity=0);
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	transition:all .3s ease-in;
}
.wisdom_list li a:hover .active_bg{opacity:.4; filter:alpha(opacity=40);}

.wisdom_list li .event_pic img{width:100%}

.wisdom_list li .icon_paly{
	width:99px;height:65px; background:url(../images/icon_play.png) no-repeat;
	display:block; position:absolute;
	left:50%;top:50%;margin-left:-48px;margin-top:-32px;
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	transition:all .3s ease-in;
}
/*.wisdom_list li a:hover .icon_paly{opacity:1}*/

.wisdom_list li .event_text{line-height:1.4;letter-spacing:-1px;padding-top:20px;padding-right:40px;}

.wisdom_list li .text-cn{letter-spacing:0;}

.pagination {text-align:center}

.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #333;
  border:2px #333 solid;
  margin-right: 4px;margin-left:4px;
  opacity: 0.5;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #333;
  border:2px #333 solid;
}
.swiper-active-switch {
  opacity:1;
  background: none;
  border:2px #d5b10d solid;
}
.pagination-nested{
  bottom: auto;
  top: 10px;
}
.pagination-nested .swiper-pagination-switch {
  display: block;
  margin-right: 0;
  margin-bottom: 5px;
}

.btn_box{ text-align:center;padding-top:50px;padding-bottom:30px}

/*合一智慧 end*/

/*温馨每周一句话 start*/

.week_box{max-width:1140px;padding:40px 10px; position:relative; margin:0 auto}

.week_words{padding-right:50px}
.week_words h3{font-size:1.125em;color:#d5b10d}
.week_words h3 .week{font-size:.875em;}
.week_words p{font-size:1.5em;line-height:1.2;padding-top:12px}

.week_btn{width:44px; position:absolute;right:10px;top:22px}
.week_btn a{
	width:36px;height:36px;border:1px #ccc solid; border-radius:38px; display:block;margin:10px 0; background:none;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.week_btn a:hover{ background:#d5b10d; border-color:#d5b10d}

.week_btn a span{
	width:20px;height:18px;background:url(../images/sprit_icon.png) no-repeat; display:block; margin:7px auto 0 auto;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}
.week_btn a.next span{ background-position:0 -66px;margin:11px auto 0 auto}

.week_btn a.prev:hover span{background-position:0 -19px}
.week_btn a.next:hover span{background-position:0 -46px}

/*温馨每周一句话 end*/


/*新闻列表 start*/
.news_box{width:48%; text-align:center}

.cn{font-family:"Microsoft YaHei",SimHei} 

.news_box h3{border-bottom:1px #ccc solid;padding-bottom:18px}

.cn .news_box h3{font-weight:normal}

.news_box ul{padding-bottom:40px; overflow:hidden}
.news_box ul li{width:100%;border-bottom:1px #ccc solid;text-align:left}
.news_box ul li .news_text{font-size:1.125em}
.news_box ul li .date{font-size:.875em;color:#b6b6b6}
.news_box ul li a{ display:block;padding:.5em; background:none; -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;transition:all .2s ease-in;}
.news_box ul li a:hover{ background:#fff}

/*新闻列表 end*/

/*课程分类 start*/

.course_list{ overflow:hidden;padding:60px 0 70px 0}

.course_list li{width:25%;color:#fff; text-align:center;float:left}
.course_list li > div{border-right:1px #fff  dashed;padding:0 10px}
.course_list li > div h4{font-size:1.5em;height:70px;padding-bottom:8px;line-height:1.4; text-transform:uppercase}
.course_list li > div h4 span{ display:block;font-size:.75em;color:#937900}
.course_list li > div p{}
.course_list li > div p.course_description{height:40px;padding:10px 0}
.course_list li > div p.course_description span{ display:block;font-size:12px;color:#937900}
.course_list li > div p .time{height:20px;font-size:18px;line-height:20px;background:url(../images/sprit_icon.png) no-repeat 0 -92px;padding-left:24px;display:inline-block}

.course_list li > div a{
	width:80%; padding:8px 0; display:inline-block;color:#fff; background:none; border:1px #fff solid; font-size:16px; text-transform:capitalize;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
.course_list li > div a:hover{ background:#bd9f14}

.course_text{ text-align:center;color:#937900;font-size:.875em}

/*课程分类 end*/

/*课程表 start*/
.curriculum_bg{ position:relative}
.triangle{width:72px;margin:0 auto}
.triangle img{width:100%}

.curriculum_box{min-height:350px;padding-top:40px;padding-left:270px; position: relative;}

.curriculum_nav{width:230px; position:absolute;left:0}
.curriculum_nav ul{padding-bottom:10px}
.curriculum_nav li{ text-align:right; position:relative}
.curriculum_nav li a{ display:block; background:#f1f1f1;padding:12px 14px;border-bottom:1px #ccc solid}
.curriculum_nav li a .arrow-r{width:16px;height:28px; background:url(../images/arrw-r.jpg) no-repeat; position:absolute;right:-16px; display:none;top:50%;margin-top:-14px;}

.curriculum_nav li a:hover,
.curriculum_nav li.current a{ background:#d5b10d;border-color:#fff;color:#fff}

.curriculum_nav li a:hover .arrow-r,
.curriculum_nav li.current a .arrow-r{ display:block}

.curriculum_nav li:last-child a{border-bottom:none}
.curriculum_nav li a p{font-size:1.5em}
.curriculum_nav li a span{font-size:.875em;color:#999}
.curriculum_nav li a:hover span,
.curriculum_nav li.current a span{color:#fff}

.curriculum_tip{color:#d5b10d; font-size:14px; text-align:center;padding-top:10px;}

.curriculum_con{width:100%}
.curriculum_con dl{width:33.333%;float:left}
.curriculum_con dl dt{font-size:2em;color:#333;padding-bottom:30px;padding-left:14px;padding-right:14px}
.curriculum_con dl dd ul{padding:0 5px}
.curriculum_con dl dd ul li{border-bottom:1px #e9e9e9 solid;padding:12px 10px;}
.curriculum_con dl dd ul li h4{font-size:1.125em}
.curriculum_con dl dd ul li .time{font-size:.875em;color:#999}
.curriculum_con dl dd ul li:first-child{border-top:1px #e9e9e9 solid}

/*课程表 end*/

/*世界的合一 start*/
.world_box{ position:relative}
.world_btn{
	width:44px;height:44px;border:1px #cdcdcd solid; background:none; border-radius:44px; display:block;position:absolute;top:50%;
	margin-top:-22px;z-index:997;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
.world_btn:hover{ background:#d5b10d; border-color:#d5b10d}

.world_btn span{
	width:20px;height:20px; background:url(../images/sprit_icon.png) no-repeat; display:block;
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-o-transition:all .3s ease-in;
	transition:all .3s ease-in;
	margin:11px auto 0 auto
}
.world_prev{left:0}
.world_next{right:0}


.world_con{padding:0 50px}
.world_con .world_pic img{width:200px;height:200px;border-radius:200px;border:5px #f9f9f9 solid;float:left}

.world_con .world_text{padding-left:24px;display:table-cell}
.world_con .world_text p{font-size:1.125em;color:#333;padding-top:32px}
.world_con .world_text p span{ display:block}
.world_con .world_text p span.name{font-size:1.125em;color:#6f6f6f}
.world_con .world_text p span.description{color:#999;font-size:.875em}

/*世界的合一 start*/

/*遇见合一 start*/
.section_bg4 .main_box{max-width:1164px;padding-left:0;padding-right:0}

.meet_title{position:relative;line-height:1.2}
.meet_title span{font-size:.4em; display:block}

.meet_box{position:relative;margin-top:60px;margin-left:12px;margin-right:12px; background:#fff; background:rgba(255,255,255,.5);padding:20px 52px 20px 52px}

.meet_box h3{color:#a78900;font-size:1.5em;padding-bottom:.2em}
.meet_box h3 span{font-size:.75em}

.meet_list li{color:#d5b10d}
.meet_text{font-size:1.675em;line-height:1.2;padding-bottom:.2em}
.meet_list li p span{font-size:.875em}
.meet_list li p span.meet_line{padding:0 1.25em}
.meet_box .week_btn{right:22px;top:22px}

.meet_box .week_btn a{border:1px #aac5d3 solid;margin-bottom:15px}

.student_share{padding-top:28px}
.student_share li{width:25%;float:left;padding-bottom:20px}
.student_share li a{padding:0 12px; display:block}
.student_share li a img{width:100%}
.student_share li a p{ background:#fff;background:rgba(255,255,255,.5);padding:0 16px}
.student_share li a p.tab{color:#d5b10d;font-size:.875em;padding-top:.3em}
.student_share li a p.tab span{width:30px;display:block;height:6px;border-top:1px #d5b10d solid;}

.student_share li a .share_text {font-size:1.25em;height:3.6em;line-height:1.2}
.student_share li a .share_author{padding-bottom:.5em;font-size:.875em;color:#999}
.student_share li a .share_author span{color:#d5b10d;padding-right:2px}

/*遇见合一 end*/

/*数字 start*/
.digital{overflow:hidden}
.digital li{width:33.3333%;padding:10px 0;text-align:center;color:#000;float:left}

.digital_icon{width:100px; display: inline-block}
.digital_icon img{width:100%}

.num{font-size:3em;font-weight: bold;padding-bottom:.4em}
.list_title{ text-transform: uppercase}
.list_title span{border-top:1px #908c86 solid;border-bottom:1px #908c86 solid;padding:3px 10px}

/*数字 end*/

/*India impression start 印度印象*/
.impression_list{}
.impression_list li{width:25%; position:relative;float:left}

.impression_list li a .hover_bg{
	position:absolute;left:0;right:0;top:0;bottom:0; display: none;
	background:#000; filter:alpha(opacity=30); opacity:.3; -moz-opacity:.3
}

/*India impression end 印度印象*/


/*联系我们 start*/
.contact_bg .main_box{padding:0}

.contact_con{width:400px;padding:30px 40px 60px 40px; overflow:hidden;background:#fcfbf5}
.contact_con h3{font-size:2em}

.contact_con p{padding:.75em 0;line-height:1.2;color:#6f6f6f}
a.email{ text-decoration:underline}
.contact_con p.em{color:#2d80d0}

.input_box{background:#fff;border:1px #cbcac6 solid;position:relative;font-size:1em}

.email_input{border:none;height:20px;line-height:20px;font-size:1.125em;color:#cbcac6;padding-left:10px;padding-top:4px;padding-bottom:4px;}

.submit_btn{
	width:84px;
	background:#383838;border:none;font-size:1.125em;border-radius:0;color:#ada67a;cursor:pointer;
	position:absolute;top:3px;bottom:3px;right:3px;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
.submit_btn:hover{ background:#d5b10d;color:#fff}

/*联系我们 start*/


@media screen and (max-width:1024px){
	/*.swiper-container {height:294px}*/
}


@media screen and (max-width:768px){
	.kv_box{height:480px}
	.kv_box .kv1,
	.kv_box .kv2,
	.kv_box .kv3,
	.kv_box .kv4{ background-size:1536px 480px}
	
	.about_text,.about_pic{width:100%;float:none}
	.about_text{padding-bottom:10px}
	
	.wisdom_list li .icon_paly{width:49px;height:32px; background-size:49px 32px;margin-left:-24px;margin-top:-16px}
	.wisdom_list li p{padding-left:6px;padding-right:6px}
	.wisdom_list li a .active_bg {left:6px;right:6px}

	
	.news_box{width:100%;padding-bottom:20px; text-align:center}
	.news_box ul{padding-bottom:20px;}
	
	.course_list li{width:50%;margin-bottom:20px}
	.triangle{width:36px}
	
	.curriculum_box{min-height:350px;padding-top:40px;padding-left:0; position: relative}
	.curriculum_nav{width:100%; position: static}
	.curriculum_nav ul{overflow:hidden}

	.curriculum_nav li{width:50%; text-align:left;float:left}	
	
	.curriculum_nav li a:hover .arrow-r,
	.curriculum_nav li.current a .arrow-r{ display:none}
	.curriculum_nav li a{border-right:1px #ccc solid}
	.curriculum_nav li:last-child a{border-bottom:1px #ccc solid}
	
	.curriculum_con dl{width:50%;padding-top:20px}
	.student_share{padding-top:18px}
	.student_share li{width:50%;padding-bottom:8px}
	.student_share ul{padding:0 8px}
	.student_share li a{padding:0 4px}
	
	.impression_list li{width:33.3333%}

	/*@2x icon*/
	.week_btn a span,
	.world_btn span,
	.course_list li > div p .time,
	.contact_center dl dd p{background:url(../images/sprit_icon@2x.png) no-repeat; background-size:44px 400px}
	.course_list li > div p .time{background-position:0 -92px}
}


@media screen and (max-width:414px){
	.kv_box{height:300px}
	.kv_box .kv1,
	.kv_box .kv2,
	.kv_box .kv3,
	.kv_box .kv4{ background-size:960px 300px}
	
	.about_text .content{height:160px;overflow: hidden}
	.about_logo{margin-top:20px;margin-bottom:28px;height:28px;line-height:30px}
	.about_logo span{font-size:.875em}
	a.mobile-more{ display:block}

	.about_logo_pic{width:50px;height:50px;margin-left:-36px;margin-top:-33px}
	
	.about_logo_pic img{width:100%}
	
	
	/*.swiper-container {height:176px}*/
	.img_switch a{font-size:1em}
	.wisdom_list{margin-top:20px;margin-bottom:20px}
	.wisdom_list li .event_text{padding-top:10px;padding-right:10px}
	.wisdom_list li p{padding-left:3px;padding-right:3px}
	
	.btn_box{padding-top:20px;padding-bottom:10px}

	
	.course_list{padding:30px 0 20px 0}
	.course_list li{width:100%;}
	
	.course_list li > div{padding-bottom:20px;border-right:none;border-bottom:1px #fff  dashed}
	.course_list li > div h4{height: auto;padding-bottom:8px;line-height:1.4}
	.course_list li > div p.course_description{height: auto;padding:10px 0}

	
	.curriculum_nav li{width:100%}
	.curriculum_nav li:last-child a{border-bottom:none}
	.curriculum_nav li a{border-right:none}
	
	.curriculum_con dl{width:100%;}
	.curriculum_con dl dt{padding-bottom:10px}
	.curriculum_con dl dd ul li{padding:4 10px}
	
	.world_con{padding:0}
	
	.world_btn{top:20%;margin-top:-22px }

	.world_con .world_pic {width:100%; text-align:center}
	.world_con .world_pic img{width:120px;height:120px;border-radius:120px;float:none}
	.world_con .world_text{width:100%;padding-left:0;display: block}
	.world_con .world_text p{padding-top:10px}
	
	.meet_box{padding:10px 40px 10px 10px; margin-top:20px}
	.meet_box .week_btn{right:0;top:4px}
	.meet_box .week_btn a{margin-bottom:10px}
	
	.student_share li a p{padding:0 8px}
	
	.digital_icon{width:50px}
	.digital li{width:50%}
	.num{font-size:2em;font-weight: bold}
	
	.contact_con{width:100%;padding:20px 12px 20px 12px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
	
	.impression_list li{width:50%}
		
}

/*左右切换按钮 start*/
.world_prev span{ background-position:0 -135px}
.world_next span{ background-position:-22px -166px}
.world_prev:hover span{ background-position:-22px -135px}
.world_next:hover span{ background-position:0 -166px}











































