/*
** CSS Document *
** @name 合一大学（oneness） news css
------------------------------------------------------
** @autho hgy@gemdesign.cn Mr.Hu
------------------------------------------------------
** @autho 2015-02-04
------------------------------------------------------
*/

.news_list{margin-top:20px}
.news_list ul{border-top:1px #ccc solid}
.news_list li{border-bottom:1px #ccc solid;position:relative}
.news_list li a{
	display:block;padding-top:13px;padding-bottom:13px; padding-left:62px;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	transition:all .2s ease-in;
}
.news_list li a h4{font-size:1.125em;padding-right:96px;}
.news_list li a h4 .date{font-size:.75em;color:#999; position:absolute;top:18px;right:20px}

.news_list li a:hover{ background:#f8f8f8}

.news_list li .tab{padding:0 10px; display:inline-block; position:absolute;left:5px;top:16px;color:#fff;font-size:.875em}
.news_list li.top{ background:#f4f4f4; box-shadow: inset 0 1px 0 rgba(255,255,255,.8),inset 0 -1px 0 rgba(255,255,255,.8);}
.news_list li.top .author{font-size:.875em;color:#999}
.news_list li.top p{padding-top:10px;color:#999;font-size:.875em;padding-right:15px}

.news_list li.top .tab{ background:#e60033}
.news_list li.hot .tab{ background:#d5b10d}

@media screen and (max-width:1024px){
	
}


@media screen and (max-width:768px){

}


@media screen and (max-width:414px){
	.news_list li.top p{font-size:1em;padding-top:6px}
	.news_list li a{padding-left:50px}
	.news_list li a h4{padding-right:70px}
	.news_list li a h4 .date{font-size:.75em;color:#999; position:absolute;right:8px}
	.news_list li a h4{padding-right:76px}
	.news_list li.top p{padding-right:8px}



}